html{ 
  overflow-y:scroll; 
}

p#notice{
  background-color: red;
  color: #F7F7F7;
  padding: 5px;
  border: 1px solid #9C4B1F;
  margin-top: 10px;
}

[red]{
  border: 1px solid red;
}

[hidden]{
  display: none;
}